// Place all the styles related to the deliveree controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-fluid {
  background-color: #393939;
  color: #F7F7F7;
}
.code {
  background: antiquewhite;
}
